{% extends 'shop/basic.html' %}
{% load bootstrap3 %}
{% load socialaccount%}
{% providers_media_js%}
{% block body %}
  <div class="container">
    
    <form method="POST" >

      {% csrf_token %}
      {% bootstrap_form form %}
  <!-- <div class="g-recaptcha" data-sitekey="6Ldgt6wUAAAAAGGtM3ud90kqZBtolo6ZrH5-AbRV" data-theme="dark-light"></div> -->
  <br>
      <input type="submit" class="btn btn-primary btn-lg" value="Login">
      <button class="text-muted ml-2 mx-2 btn-lg"><a href="{% url 'password_reset' %}">Forgot Password? <i class="fa fa-key" aria-hidden="true"></i></a></button>
    </form>

  </div>

{% endblock %}
<!--
{% block js %}
  <script src="https://www.google.com/recaptcha/api.js" async defer></script>
{% endblock %} -->
