{% extends 'shop/basic.html'%}
{% block title%} Contact view {% endblock%}

{% block body %}
  <div class="container my-3">
    <h2>Contact us Regarding any Query!</h2>
    <form  method="post" action="{% url 'ContactUs' %}">
      {% csrf_token %}
  <div class="form-group">
    <label for="name">Name:</label>
    <input type="text" class="form-control"  name="name" id="name" placeholder=" Enter your name">
  </div>
  <div class="form-group" >
    <label for="name">Email:</label>
    <input type="email" class="form-control" name="email" id="email" placeholder=" name@example.com">
  </div><div class="form-group">
    <label for="name">Phone No.:</label>
    <input type="tel" class="form-control" name="phone" id="phone" placeholder=" Enter your Mobile No.">
  </div>

<div class="form-group">
    <label for="desc">How May we help you?</label>
    <textarea class="form-control" id="desc" name="desc" rows="3" placeholder="Any Query?"></textarea>
  </div>
  <button type="submit" class="btn btn-success">Submit</button>
</form>
  </div>


 {% endblock %}

 {% block js %}
 <script>
   {% if thank %}
   alert('Thanks for Contacting Us!.We will get back to You soon');
   document.location = "/shop/contact";
   {% endif %}
 </script>

 {% endblock %}
